.tiles-container {
  width: 99vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}

@media (max-width: 640px) {
  .tiles-container {
    width: 95vw;
    flex-direction: column;
  }
}
